@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: olivedrab;
}

.status {
    margin-bottom: 20px;
    font-size: 24px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden; /* Ensures that the image does not overflow */
}

.box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensures the image scales correctly */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    
}
